.resources__link {
    margin: 0;
    text-decoration: none;
    transition: 0.4s;

      
}
      
.resources__link:hover {
    opacity: 0.5; /* при наведении ссылка станет немного прозрачной */
    
      
}
      
      
    